/* GERAL */
body{
    margin: 0 auto;
    width: 100%;
}
/*////GERAL////*/

/* IMAGENS */
img#cores{
    display: inline;
    margin-left: 7%;
    margin-right: 5%;
}
img#logo{
    margin-top: 20%;
    margin-bottom: 10%;
    width: 80%;
}
img#perso {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
img#voltar{
    float: left;
    margin-left: 5%;
    width: 7%;
}
/*////IMAGENS////*/

/* BOTÕES */
button#btnInserir{
    width: 80%;
    height: 8vh;
    font-size: 30pt;
    margin-bottom: 15%;
}
/*////BOTÕES E LINKS////*/

/* CHECK BOX E PA */
#flexCheckDefault{
    -ms-transform: scale(3); /* IE */
    -moz-transform: scale(3); /* FF */
    -webkit-transform: scale(3); /* Safari and Chrome */
    -o-transform: scale(3); /* Opera */
    transform: scale(3);
    padding: 2%;
}
.form-check-label{
    font-size: 30pt;
    margin-left: 5%;
}
/*////CHECK BOX E PA////*/

/* TEXTO E LINKS */
input.form-control{
    width: 80%;
    height: 8vh;
    font-size: 30pt;
}
/*////TEXTO E LINKS////*/